---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{%- set latest = books[0].meetingDate -%}
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  <url>
    <loc>{{ site.url }}/about/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  <url>
    <loc>{{ site.url }}/stats/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  <url>
    <loc>{{ site.url }}/books/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  <url>
    <loc>{{ site.url }}/members/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  <url>
    <loc>{{ site.url }}/lists/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  <url>
    <loc>{{ site.url }}/authors/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  <url>
    <loc>{{ site.url }}/meetings/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  {%- for book in books %}
  <url>
    <loc>{{ site.url }}/books/{{ book.slug }}/</loc>
    {%- if book.meetingDate %}
    <lastmod>{{ book.meetingDate }}</lastmod>
    {%- endif %}
  </url>
  {%- endfor %}
  {%- for m in currentMembers %}
  <url>
    <loc>{{ site.url }}/members/{{ m.slug }}/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  {%- endfor %}
  {%- for l in lists %}
  <url>
    <loc>{{ site.url }}/lists/{{ l.slug }}/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  {%- endfor %}
  {%- for a in authors %}
  <url>
    <loc>{{ site.url }}/authors/{{ a.slug }}/</loc>
    <lastmod>{{ latest }}</lastmod>
  </url>
  {%- endfor %}
</urlset>
