---
layout: layouts/base.njk
title: Authors
permalink: /authors/
---

<section class="shelf-header">
  <a class="back" href="/books/">← All books</a>
  <h1>Authors</h1>
  <p class="lede">Every author the R/W Book Club has read, alphabetical by name. {{ authors.length }} in all.</p>
</section>

<ul class="author-index">
  {% for author in authors %}
    <li class="author-index-row">
      <a class="author-index-name" href="/authors/{{ author.slug }}/">{{ author.name }}</a>
      <span class="author-index-count">{{ author.books.length }} book{% if author.books.length != 1 %}s{% endif %}</span>
    </li>
  {% endfor %}
</ul>
